@{
    ViewData["title"] = "About Us";
}
<div class="container">
    <h1 class="cover-heading">Welcome to Our School</h1>
    <p class="lead">Our school is committed to providing top-quality education and a nurturing environment for all students.</p>
    <p>We offer a wide range of programs and extracurricular activities to support the holistic development of our students.</p>
    <p>Our dedicated team of educators is passionate about helping students achieve their full potential.</p>
    <p>Contact us today to learn more about our school and how we can help your child succeed.</p>
</div>


